.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #f86a54 0%,
    #f89938 25%,
    #dfcc84 50%,
    #6dc497 75%,
    #016699 100%
  );
  background-size: 400% 400%;
  animation: gradient-shift 15s ease infinite;
  opacity: 0.8;
  z-index: 2;
}

/* Gradient Animation */
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
